
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
}

/* header starts */

html{
    font-size: 62.5;
    overflow-x: hidden;
    scroll-padding-top: 0px;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background:var(#ffffff)
}

section{
    padding: 2rem 7%;
}

.header{
    position: fixed;
    top: 0%;
    left: 0%;
    height: 13%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 7%;
    border-bottom:.1rem solid rgba(77, 77, 77, 0.3);
    position: fixed;
    z-index: 1000;
}

.header .logo img{
    height: 40px;
}

.header .navbar a{
    font-family: 'Bai Jamjuree', sans-serif;
    margin:0 1.8rem;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
}

.header .navbar a:hover{
    color: #ffad32;
    border-bottom: .1rem solid var(#ffad32);
    padding-bottom: .5rem;
}

.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 2rem;
}

.header .menu div:hover{
    color: #ffad32;
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 115%; right: 7%;
    background: #ffffff;
    width: 50rem;
    height: 3rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 1rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover{
    color: #ffad32;
}

/* header ends */


/* home starts */

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/backgroundhome.jpg) no-repeat;
    background-size: cover;
    background-position: center;

}
.home .content{
    max-width: 800px;
    max-height: 600px;
    padding-bottom: 18%;
}

.home .content h2{
    font-family: "Notable", serif;
    font-size: 50px;
    background-image: linear-gradient(43deg, #ffffff 0%, #ffad32 100%);
    background-clip: text;
    color: transparent;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 18%;
    padding-top: 4rem;
}

.home .content h3{
    font-family: "Goblin One", serif;
    font-size: 25px;
    background-image: linear-gradient(43deg, #ffffff 0%, #ffad32 100%);
    background-clip: text;
    color: transparent;
    font-weight: 600;
    padding-left: 2rem;
    padding-top: 0.8rem;
    letter-spacing: 10px;
}

.home .content h4{
    font-family: "Goldman", serif;
    font-size: 20px;
    background-image: linear-gradient(43deg, #ffffff 0%, #ffad32 100%);
    background-clip: text;
    color: transparent;
    font-weight: 700;
    text-transform: uppercase;
}

.home .content p{
    font-family: "Bai Jamjuree", serif;
    font-size: 13px;
    color: #ffffff;
    font-weight: 300;
    text-transform: none;
    padding-top: 2.3rem;
    padding-bottom: 2rem;
    letter-spacing: 0.7px;
}

.content .btn-box{
    width: 170px;
    height: 35px;
}

.btn-box{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: rgb(0, 0, 0);
    border: 2px solid #704300;
    border-radius: 13px;
    
}

.btn-box a{
    display: inline-flex;
    font-family: "Bai Jamjuree", serif;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}

.wifi-ico{
    position: absolute;
    top: 240px;
    left: 116px;
    width: 180px;
    display: flex;
    text-decoration: none;
}

.wifi-ico a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    background: transparent;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;

}

.home .home-ico{
    position: absolute;
    bottom: 110px;
    width: 180px;
    display: flex;
    justify-content: space-between;
}

.home .home-ico a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    background: #fff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    font-size: 25px;
    color:#000000;
    text-decoration: none;
}

#slider {
    position: relative;
    width: 610px;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    margin-left: 40px;
    border-radius: 3%;
}

#slider ul{
    position: relative;
    list-style: none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;
    transition: all 500ms ease;
    left: 0;
}

#slider ul li{
    position: relative;
    height: 100%;
    float: left;
}

#slider ul li img{
    width: 610px;
    height: 400px;
    border-radius: 3%;
}

#slider #prev,
#slider #next{
    width: 40px;
    line-height: 30px;
    font-size: 4rem;
    border-radius: 50%;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: center;
    color: transparent;
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform:  translateY(-50%);
    transition: all 150ms ease;
}

#slider #prev{
    left:-10px;
}

#slider #next{
    right: 10px;
}

#slider #prev:hover,
#slider #next:hover{
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0;
    justify-content: center;
    align-items: center;
}

.home .mobile-img img{
    display: none;
}

/* home ends */


/* about starts */

.about{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/backgroundhome.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}


.about .image img{
    position: absolute;
    width: 42%;
    margin-top: -16%;
}

.about .content{
    padding: 2rem;
    margin-left: 50%;
}

.about  .content h3{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 38px;
    background-image: linear-gradient(43deg, #ffffff 0%, #ffad32 100%);
    background-clip: text;
    color: transparent;
    font-weight: 700;
    text-transform: uppercase;
    top: 25%;
    padding-bottom: 25px;
    
}

.about .content p{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    line-height: 1.8;
    padding-bottom: 20px;
    padding-bottom: 70px;
}

.learn-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    background: rgb(0, 0, 0);
    border: 2px solid #704300;
    border-radius: 30px;
}

.learn-btn a{
    font-family: "Bai Jamjuree", serif;
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1.8;
}

.about .about-ico{
    position: absolute;
    bottom: -470px;
    width: 180px;
    display: flex;
    justify-content: space-between;
}

.about .about-ico a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 30px;
    color:#eeeeee;
    text-decoration: none;
    border-bottom: 10%; top: 0;

}


/* about ends */


/* blogs starts */

.blogs{
    min-height: 130vh;
    display: flex;
    align-items: center;
    background: url(images/backgroundhome.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.mySlides {
    display: none;
    width: 100%;
}

.blogs img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    left: 17%;
    margin-top: 6%;
}

.fade {
    animation: fade 1s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.prev, .next {
    position: absolute;
    top: 45%;
    padding: 16px;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.6s ease;
    user-select: none;
}

.prev {
    padding-right: 850px;
}

.next {
    right: 20;
    padding-left: 770px;
}

.prev:hover, .next:hover {
    background-color: transparent;
}

.dots{
    position: absolute;
    padding-top: 750px;
    padding-left: 525px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 6px;
    background-color: #202020;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

.dot.active {
    background-color: #ffffff;
}

.blogs h3{
    position: absolute;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 38px;
    background-image: linear-gradient(43deg, #ffffff 0%, #ffe5bd 100%);
    background-clip: text;
    color: transparent;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 650px;
    padding-left: 500px;
}

/* blogs ends */


/* services starts */

.services{
    min-height: 120vh;
    display: flex;
    align-items: center;
    background: url(images/backgroundhome.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.services .content {
    text-align: center;
    margin-bottom: 40px;}
  
/* Services Section */
.services-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
  
/* Description Section (Left) */
.description {
    flex: 1;
    padding-right: 20px;
    text-align: left;
}

.services h3{
    position: absolute;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 38px;
    background-image: linear-gradient(43deg, #ffffff 0%, #ffe5bd 100%);
    background-clip: text;
    color: transparent;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 470px;
    top: 348%;
}

.description h2 {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 2.3rem;
    background-image: linear-gradient(43deg, #ffffff 0%, #e4a23f 100%);
    background-clip: text;
    color: transparent;
    font-weight: 700;
    margin-bottom: 15px;
}
  
.description p {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.3rem;
    color: #ffffff;
}
  
/* Carousel Section (Right) */
.carousel-container {
    position: relative;
    width: 580px; /* Image width */
    height: 530px; /* Image height */
    overflow: hidden;
    padding-top: 80px;
}
  
.carousel {
    position: relative;
    width: 110%;
    height: 100%;
}
  
.carousel-track-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
  
.carousel-track {
    display: flex;
}
  
.service-card {
    width: 344px;
    height: 444px;
    margin-right: 60px;
}
  
.service-card img {
    width: 110%;
    height: 100%;
    object-fit: cover;
    border-radius: 3%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
/* Carousel Navigation Buttons */
button {
    background-color: rgba(0, 0, 0, 0.3);
    color: rgb(233, 184, 184);
    font-size: 2em;
    padding: 10px;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    border-radius: 50%;
}
  
.prev-btn {
    left: -30px; /* Adjust for left button */
}
  
.next-btn {
    right: -30px; /* Adjust for right button */
}
  
button:hover {
    background-color: #ffffff99;
}


/* services ends */


/* contact starts */

.contact{
    min-height: 120vh;
    display: flex;
    align-items: center;
    background: url(images/backgroundhome.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 2.3rem;
    background-image: linear-gradient(43deg, #ffffff 0%, #e4a23f 100%);
    background-clip: text;
    color: transparent;
    font-weight: 700;
    margin-bottom: 60px;
}
  
.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    place-items: center;
    padding-top: 10px;
}

.contact-info {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 30px;
}
  
.contact-info p {
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 5px 0;
    flex: 1 1 33.33%;
    color: #fff;
}
  
.contact-info b {
    margin-right: 5px;
}
  
.contact-form div {
    padding: 10px;
    margin-bottom: 20px;
    padding-top: 25px;
}
  
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
    width: calc(107% - 20px);
    height: 50px;
    box-sizing: border-box;
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    color: #ffffff;
    margin-bottom: 23px;
    margin-left: 10px;
}
  
.contact-form textarea {
    height: 198px;
    width: 500px;
    margin-top: 7px;
}

.contact input::placeholder{
    font-family: 'Bai Jamjuree', sans-serif;
    color: #fff;
}

.contact textarea::placeholder{
    font-family: 'Bai Jamjuree', sans-serif;
    color: #fff;
}

.contact .submit-group button{
    width: 12%;
    height: 45px;
    justify-content: center;
    background-image: radial-gradient(#340C00 0%, #541400 23%, #831F00 41%, #AB2706 54%, #C82D0B 61%, #E5320F 70%, #E74F13 76%, #E97318 82%, #E97318 90%, #FFCD84 97%);
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: white ;
    font-weight: 700;
    margin-top: 236%;
    margin-left: 15%;

}

button a {
    text-decoration: none;
    text-align: center;
    color: white;
}

.contact .footer{
    position: absolute;
    width: 100%;
    background-image: linear-gradient(43deg, #FFCD84 0%, #E2B36B 14%, #FF8500 25%, #F68B27 36%, #FF6E00 53%, #EE6C1D 69%, #EB5E18 84%, #E74F13 100%);
    justify-content: center;
    text-align: center;
    left: 0%;
    top: 567%;
    padding-top: 13px;
}

.footer p{
    justify-content: center;
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #1E1611;
    padding-bottom: 13px;
}


/* contact ends */


















/* ----------------------------------------- MEDIA QUERIES ------------------------------------------------*/

/* responsive starts */

@media (max-width:1000px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }
    
    section{
        padding: 2rem;
    }

}
    

/* ---------------------------TABLET-------------------------------- */

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right: 0;
    }

    .header .navbar a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 1.5rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    #slider {
        position: absolute;
        top:22%; bottom: 0;
        width: 610px;
        height: 410px;
        left: 5.5%;
    }

    #slider ul li image {
        position: absolute;
        top:22%; bottom: 0;
        width: 610px;
        height: 410px;
    }

    .home .home-ico{
        position: absolute;
        bottom: 1%; top: 0;
        margin-left: 21%;
        margin-top: 113%;
    }

    .wifi-ico{
        display: none;
    }

    .home{
        min-height: 180vh;
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h2{
        font-size: 45px;
        padding-top: 300px;
        text-align: center;
    }
    .home .content h3{
        font-size: 25px;
    }
    .home .content h4{
        font-size: 25px;
    }
    .home .content p{
        font-size: 1.5rem;
        padding-bottom: 30px;
    }

    .about{
        min-height: 150vh;
        display: flex;
        align-items: center;
        background: url(images/backgroundhome.jpg) no-repeat;
        background-size: cover;
        background-position: left;
    }
    
    
    .about .image img{
        position: absolute;
        width: 80%;
        height: 76%;
        margin-top: -48%;
        margin-left: 9%;

    }
    
    .about .content{
        padding: 2rem;
        padding-right: 2rem;
        margin-left: 7%;
        margin-top: 65%;
    }

    .about .content h3{
        font-size: 35px;
    }
    
    .about .about-ico{
        position: absolute;
        bottom: -230%;
        width: 180px;
        display: flex;
        justify-content: space-between;
    }
    

    .blogs{
        min-height: 140vh;
        display: flex;
        align-items: center;
        background: url(images/backgroundhome.jpg) no-repeat;
        background-size: cover;
        background-position: left;
    
    }

    .mySlides {
        width: 88%;
    }

    .slideshow-container {
        position: relative;
        justify-content: center;
        max-width: 88%;
        left: 8%;
        margin-bottom: -6%;
    }

    .blogs img {
        width: 120%;
        height: auto;
        vertical-align: middle;
    }

    
    .prev{
        display: none;
    }

    .next{
        display: none;
    }
    
    .dots{
        position: absolute;
        padding-top: 610px;
        padding-left: 320px;
    }

    .blogs h3{
        position: absolute;
        font-family: "Bai Jamjuree", serif;
        font-size: 35px;
        background-image: linear-gradient(43deg, #ffffff 0%, #ffe5bd 100%);
        background-clip: text;
        color: transparent;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 500px;
        padding-left: 290px;
        
    }

    .services{
        display: flex;
        min-height: 150vh;
        background-position: left;
    }

    .services h3{
        margin-top: 105%;
        right: 38%;
    }

    .contact{
        min-height: 140vh;
        background-position: left;
    }
    
    h1 {
        font-size: 4rem;
        margin-bottom: 50px;
        text-align: center;
    }
      
    .contact-form {
        display: grid;
        grid-template-columns: 1r 1fr;
        grid-gap: 10px;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 30px;
        border-radius: 10px; 
        place-items: center;
        padding-top: 2px;
    }

    .contact-info p {
        font-family: 'Bai Jamjuree', sans-serif;
        margin: 5px 0;
        flex: 1 1 33.33%;
        color: #fff;
        font-size: 1.5rem;
    }
      
    .contact-info b {
        margin-right: 5px;
        font-size: 1.5rem;
    }
      
    .contact-form div {
        padding: 10px;
        margin-bottom: 20px;
        padding-top: 25px;
    }
      
    .contact-form textarea {
        height: 198px;
        width: 300px;
    }
    
    .contact .submit-group button{
        width: 150px;
        margin-top: 480%;
        margin-left: 13%;
    }

    .contact .footer{
        left: 0%;
        top: 770%;
        padding-top: 13px;
    }
    
    .footer p{
        justify-content: center;
        text-align: center;
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 15px;
        font-weight: 600;
        color: #1E1611;
        padding-bottom: 13px;
    }
    

}

/* ---------------------------MOBILE-------------------------------- */


@media (max-width: 320px){

    html{
        font-size: 40%;
    }

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }
    .header .navbar.active{
        right: 0;
    }
    .header .navbar a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 1.5rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }


    #slider {
        display: none;
        top:10%; bottom: 0;
        width: 410px;
        height: 200px;
    }

    #slider ul li image {
        display: none;
        top:10%; bottom: 0;
        width: 410px;
        height: 200px;
    }

    .home .home-ico{
        position: absolute;
        bottom: 10%; top: 0;
        margin-left: 18%;
        margin-top: 180%;
    }


    .home{
        min-height: 70vh;
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h2{
        font-size: 25px;
        padding-top: 290px;
        text-align: center;
    }
    .home .content h3{
        font-size: 15px;
        padding-bottom: 8px;
        letter-spacing: 5px;
        padding-right: 10px;
    }
    .home .content h4{
        font-size: 10px;
    }
    .home .content p{
        font-size: 6px;
        text-align: center;
        padding-bottom: 20px;

    }

    .home .mobile-img img{
        position: absolute;
        display: flex;
        top: 20%; bottom: 0%;
        width: 85%;
        border-radius: 3%;
        left: 9%;

    }
    .btn-box{
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 70%;
        background: rgb(0, 0, 0);
        border: 2px solid #704300;
        border-radius: 13px;
    }
    
    .btn-box a{
        font-family: "Bai Jamjuree", serif;
        font-size: 15px;
        color: #ffffff;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .home .home-ico{
        position: absolute;
        bottom: 110px;
        width: 140px;
        display: flex;
        justify-content: space-between;
        margin-top: 170%;
        margin-left: 20%;
    }
    
    .home .home-ico a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        background: #fff;
        border: 2px solid #ffffff;
        border-radius: 50%;
        font-size: 15px;
        color:#000000;
        text-decoration: none;
    }

    .about{
        min-height: 100vh;
        display: flex;
        align-items: center;
        background: url(images/backgroundhome.jpg) no-repeat;
        background-size: cover;
        background-position: left;
    }
    
    
    .about .image img{
        position: absolute;
        width: 83%;
        height: 43%;
        margin-top: -68%;
        margin-left: 5.5%;

    }
    
    .about .content{
        padding: 2rem;
        padding-right: 2rem;
        margin-left: 4%;
        margin-top: 90%;
    }

    .about .content h3{
        font-size: 25px;
        padding-bottom: 10px;
    }

    .about .content p{
        font-size: 9px;
        padding-bottom: 30px;
    }
    
    .about .about-ico{
        bottom: -99%;
        width: 100px;
        margin-left: -2%;
    }
    
    .about .about-ico a{
        font-size: 16px;
    }

    .learn-btn{
        width: 110px;
        height: 25px;
        margin-left: -2%;
    }
    
    .learn-btn a{
        font-size: 8px;
        letter-spacing: 1px;
        line-height: 1.8;
    }

    .blogs{
        min-height: 80vh;
        display: flex;
        align-items: center;
        background: url(images/backgroundhome.jpg) no-repeat;
        background-size: cover;
        background-position: left;
    
    }

    .mySlides {
        width: 90%;
    }

    .slideshow-container {
        position: relative;
        justify-content: center;
        max-width: 90%;
        left: 6%;
    }

    .blogs img{
        width: 120%;
        height: 100%;
        vertical-align: middle;
    }

    
    .prev{
        display: none;
    }

    .next{
        display: none;
    }
    
    .dots{
        position: absolute;
        padding-top: 290px;
        padding-left: 95px;
    }
    
    .dot{
        height: 13px;
        width: 13px;
    }

    .blogs h3{
        position: absolute;
        font-family: "Bai Jamjuree", serif;
        font-size: 25px;
        background-image: linear-gradient(43deg, #ffffff 0%, #ffe5bd 100%);
        background-clip: text;
        color: transparent;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 250px;
        padding-left: 90px;
    }

    .services{
        display: flex;
        min-height: 100vh;
        background-position: left;
    }

    .services h3{
        font-size: 25px;
        margin-top: -90%;
        right: 33%;
    }

    .contact{
        min-height: 130vh;
        background-position: left;
    }
    
    h1 {
        font-size: 4rem;
        margin-bottom: 50px;
        text-align: center;
    }

    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form input[type="tel"],
    .contact-form textarea {
        width: 820%;
        height: 35px;
        box-sizing: border-box;
        padding: 13px;
        margin-bottom: 10px;
        margin-left: -275%;
    }

    .contact-form {
        display: none;
        display: grid;
        grid-template-columns: 1r 1fr;
        grid-gap: 10px;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 100px;
        border-radius: 10px; 
        place-items: center;
        padding-top: 2px;
        max-width: 100%;

    }

    .contact-info {
        text-align: center;
        margin-bottom: 20px;
        margin-left: 10px;
    }

    .contact-info p {
        font-family: 'Bai Jamjuree', sans-serif;
        margin: 5px 0;
        flex: 1 1 33.33%;
        color: #fff;
        font-size: 1.6rem;
    }
      
    .contact-info b {
        margin-right: 5px;
        font-size: 1.5rem;
    }


    .contact-form div {
        padding: 10px;
        margin-bottom: 20px;
        padding-top: 25px;
    }
      
    .contact-form textarea {
        position: absolute;
        height: 118px;
        width: 230px;
        margin-top: 22%;
        margin-left: -45%;
    }

    .contact input::placeholder{

        font-size: 11px;
    }
    
    .contact textarea::placeholder{
        font-size: 11px;
    }
    
    .contact .submit-group button{
        width: 150px;
        margin-top: 753%;
        margin-left: -15%;
        height: 35px;
        font-size: 11px;
    }

    .contact .footer{
        left: 0%;
        top: 519%;
        padding-top: 11px;
    }
    
    .footer p{
        justify-content: center;
        text-align: center;
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 8px;
        font-weight: 600;
        color: #1E1611;
        padding-bottom: 13px;
    }

}

/* responsive ends */